<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>幸福指数谁有</title>
    <link rel="stylesheet" href="css/de.css">
    <script type="text/javascript" src="js/piaomoneybanner/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/piaomoneybanner/de.js"></script>
</head>
<body>
<div class="banner">
    <div class="igs">
        <div class="ig"><img src="images/piaomoneybanner/5.gif" /></div>
        <div class="ig"><img src="images/piaomoneybanner/2.jpg" /></div>
        <div class="ig"><img src="images/piaomoneybanner/3.jpg" /></div>
        <div class="ig"><img src="images/piaomoneybanner/4.jpg" /></div>
    </div>
    <a  class="btn btn1">&lt;</a>
    <a  class="btn btn2">&gt;</a>
    <div class="tabs">
        <div class="tab bg" >1</div>
        <div class="tab">2</div>
        <div class="tab">3</div>
        <div class="tab">4</div>
    </div>
    <audio src="images/piaomoneybanner/money.mp3" class="money" controls="controls" autoplay="autoplay"></audio>
</div>
</body>
</html>